.logoDiv{
    text-align: center;
    span{
        width: 200px;
        height: 200px;
        //background: #d9d9d9;
        padding: 3%;
        display: block;
        margin: 0px auto;
        // img{
        //     width: 100%;
        //     margin: 17px auto;
        //     display: block;
        //     border-radius: 100%;
        // }
    }
}
